$border-color: #555;
$background-color: #333;

:host {
  display: block;

  input {
    border-radius: 100px;
    font-size: 16pt;
    padding: 5px 35px 5px 10px;
    outline: none;
    background-color: $background-color;
    color: #fff;
    border: 2px solid $border-color;
  }

  mat-icon {
    position: absolute;
    margin-left: -35px;
    margin-top: 7px;
    color: $border-color;
    font-size: 16pt;
  }
}
