<mat-sidenav-container>
  <mat-sidenav mode="side" opened>
    <mat-list [class.mac]="isMac">
      <mat-list-item
        *ngFor="let item of items"
        class="route-link"
        [routerLink]="item.route"
        routerLinkActive="route-link--active"
      >
        <button
          mat-icon-button
          [matTooltip]="item.tooltip"
          matTooltipPosition="after"
        >
          <mat-icon
            [ngClass]="item.icon"
            [matBadge]="item.badge ? (item.badge | async) : null"
            matBadgeColor="accent"
            inline
          ></mat-icon>
        </button>
      </mat-list-item>
    </mat-list>

    <button
      class="settings-btn"
      mat-icon-button
      matTooltip="Settings"
      matTooltipPosition="after"
      (click)="settings.emit()"
    >
      <mat-icon
        class="fas fa-cog"
        inline
      ></mat-icon>
    </button>
  </mat-sidenav>

  <mat-sidenav-content>
    <ng-content></ng-content>
  </mat-sidenav-content>
</mat-sidenav-container>
