mat-sidenav-container {
  height: 100%;

  mat-sidenav-content {
    overflow-y: hidden;
  }
}

mat-list {
  &.mac {
    margin-top: 20px;
  }

  mat-list-item {
    outline: none;
  }
}

.route-link {
  color: grey !important;

  &.route-link--active {
    color: white !important;
  }
}

.settings-btn {
  position: fixed;
  bottom: 50px;
  left: 17px;
  font-size: 20px;
  color: grey;

  &:hover {
    color: white;
  }
}
