<ngx-datatable
  class="fullscreen"
  [rowIdentity]="getRowId"
  [class.mac]="isMac"
  [headerHeight]="30"
  [footerHeight]="0"
  [rowHeight]="30"
  [columnMode]="ColumnMode.force"
  [scrollbarV]="true"
  [scrollbarH]="true"
  [rows]="processes"
  [limit]="5"
  [selectionType]="SelectionType.multi"
  [selected]="selected$ | async"
  [sorts]="[{ prop: 'cpu', dir: 'desc' }]"
  [treeFromRelation]="'ppid'"
  [treeToRelation]="'pid'"
  (treeAction)="onTreeAction($event)"
  (tableContextmenu)="onContextMenu($event)"
>
  <ngx-datatable-column
    *ngFor="let col of Columns"
    [name]="col.name"
    [prop]="col.prop"
    [width]="col.width"
    [sortable]="col.sortable"
    [isTreeColumn]="col.isTreeColumn"
    [treeLevelIndent]="col.treeLevelIndent"
    [pipe]="col.pipe"
    [headerTemplate]="headerTemplate"
    [cellTemplate]="col.isTreeColumn ? treeToggleTemplate : undefined"
  ></ngx-datatable-column>
</ngx-datatable>

<button
  *ngIf="ngxDatatable?.offset > 0"
  mat-mini-fab
  class="scroll-top-button"
  color="accent"
  (click)="onScrollTop()"
>
  <mat-icon
    class="fas fa-arrow-up"
    inline
  ></mat-icon>
</button>

<ng-template
  #treeToggleTemplate
  let-column="column"
  let-row="row"
  let-treeAction="onTreeAction"
>
  <div
    class="ngx-datatable--custom-row-toggle"
    [style.margin-left.px]="row.children === 0 ? 28 : 0"
  >
    <mat-icon
      *ngIf="row.children > 0"
      class="fas"
      [class.fa-angle-down]="row.treeStatus === 'expanded'"
      [class.fa-angle-right]="row.treeStatus === 'collapsed'"
      inline
      (click)="$event.stopImmediatePropagation(); treeAction.call();"
    ></mat-icon>

    <span
      [matBadge]="row.children"
      [matBadgeHidden]="row.children === 0 || row.treeStatus === 'expanded'"
      matBadgeSize="small"
      [matTooltip]="row.command"
    >
      {{ row[column.prop] }}
    </span>
  </div>
</ng-template>

<ng-template
  #headerTemplate
  let-column="column"
  let-sort="sortFn"
  let-dir="sortDir"
>
  <div
    class="ngx-datatable--custom-header-cell"
    (click)="sort.call()"
  >
    <div class="ngx-datatable--custom-header-cell--text">
      {{ column.name }}
    </div>

    <mat-icon
      *ngIf="PROCESS_TABLE_COLUMNS[column.prop].filterable"
      class="ngx-datatable--custom-header-cell--search-icon fas fa-search"
      inline
      (click)="onSearch(column.prop, $event)"
    ></mat-icon>

    <mat-icon
      *ngIf="filters[column.prop]"
      class="fas fa-times"
      inline
      (click)="onClear(column.prop, $event)"
    ></mat-icon>

    <mat-icon
      *ngIf="dir"
      class="fas"
      [class.fa-angle-down]="dir === 'desc'"
      [class.fa-angle-up]="dir === 'asc'"
      inline
    ></mat-icon>
  </div>
</ng-template>
