@import '../../../styles/colors';

$border: 1px solid rgba(255, 255, 255, 0.1);
$padding: 5px;

:host {
  display: block;
  height: 100%;

  .scroll-top-button {
    position: fixed;
    bottom: 10px;
    right: 10px;
    opacity: 0.5;

    &:hover {
      opacity: 1;
    }
  }

  ngx-datatable {
    height: 100%;

    &.mac {
      top: 20px;
      height: calc(100% - 20px);
    }

    ::ng-deep .datatable-header {
      border-bottom: $border;

      ::ng-deep .datatable-header-cell {
        user-select: none;
        border-right: $border;
        padding: $padding;

        &:last-child {
          border-right: none;
        }
      }
    }

    ::ng-deep .datatable-body-row {
      user-select: none;
      cursor: default;
      color: rgba(255, 255, 255, 0.7);

      &.active {
        background-color: $amber;
        color: black;
      }

      &:hover {
        filter: brightness(120%);
      }

      ::ng-deep .datatable-body-cell {
        padding: $padding;
      }
    }
  }
}
