<ngx-datatable
  class="fullscreen"
  trackByProp="pid"
  [rowIdentity]="getRowId"
  [class.mac]="isMac"
  [headerHeight]="30"
  [footerHeight]="0"
  [rowHeight]="30"
  [columnMode]="ColumnMode.force"
  [scrollbarV]="true"
  [scrollbarH]="true"
  [rows]="processes"
  [limit]="5"
  [selectionType]="SelectionType.multi"
  [selected]="selected"
  [sorts]="[{ prop: 'cpu', dir: 'desc' }]"
  [treeFromRelation]="'ppid'"
  [treeToRelation]="'pid'"
  (select)="onSelect($event)"
  (treeAction)="onTreeAction($event)"
  (tableContextmenu)="onContextMenu($event)"
>
  <ngx-datatable-column
    name="Name"
    prop="name"
    width="300"
    [sortable]="true"
    [isTreeColumn]="true"
  ></ngx-datatable-column>

  <ngx-datatable-column
    name="User"
    prop="user"
    width="80"
    [sortable]="true"
  ></ngx-datatable-column>

  <ngx-datatable-column
    name="CPU %"
    prop="cpu"
    width="80"
    [sortable]="true"
  ></ngx-datatable-column>

  <ngx-datatable-column
    name="Memory %"
    prop="mem"
    width="80"
    [sortable]="true"
  ></ngx-datatable-column>

  <ngx-datatable-column
    name="Priority"
    prop="priority"
    width="80"
    [sortable]="true"
  >
    <ng-template
      ngx-datatable-cell-template
      let-v="value"
    >
      {{ v | priorityToString }}
    </ng-template>
  </ngx-datatable-column>

  <ngx-datatable-column
    name="RSS"
    prop="rss"
    width="80"
    [sortable]="true"
  >
    <ng-template
      ngx-datatable-cell-template
      let-v="value"
    >
      {{ v | bytesToString }}
    </ng-template>
  </ngx-datatable-column>

  <ngx-datatable-column
    name="VSZ"
    prop="vsz"
    width="80"
    [sortable]="true"
  >
    <ng-template
      ngx-datatable-cell-template
      let-v="value"
    >
      {{ v | bytesToString }}
    </ng-template>
  </ngx-datatable-column>

  <ngx-datatable-column
    name="PID"
    prop="pid"
    width="80"
    [sortable]="true"
  ></ngx-datatable-column>
</ngx-datatable>

<button
  *ngIf="ngxDatatable?.offset > 0"
  mat-mini-fab
  class="scroll-top-button"
  color="accent"
  (click)="onScrollTop()"
>
  <mat-icon
    class="fas fa-arrow-up"
    inline
  ></mat-icon>
</button>
