@import '../../../styles/colors';

$border: 1px solid rgba(255, 255, 255, 0.2);

:host {
  .header {
    text-align: center;
    border-bottom: $border;
    padding-bottom: 10px;

    .badge {
      display: inline-block;
      width: 20px;
      height: 20px;
      padding: 5px;
      margin-right: 5px;
      border-radius: 50px;
      background-color: $amber;
      color: black;
    }
  }

  mat-action-list {
    button {
      &.cancel-btn {
        border-top: $border;
      }
    }
  }
}
